:root {
    --font-style: "Barlow Semi Condensed", sans-serif;
    --spacing-24: 1.5em;
}

.barlow-semi-condensed-semibold {
    font-family: var(--font-style);
    font-weight: 600;
    font-style: normal;
}

* {
    font-family: var(--font-style);
    font-weight: 500;
}

main {
    padding: 0 var(--spacing-24);
}