:root {
    --font-style: "Barlow Semi Condensed", sans-serif;
    --spacing-24: 1.5em;

    /* ### Primary */

    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);

    /* ### Neutral */

    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

.barlow-semi-condensed-semibold {
    font-family: var(--font-style);
    font-weight: 600;
    font-style: normal;
}

* {
    font-family: var(--font-style);
    font-weight: 500;
}

main {
    padding: 0 var(--spacing-24);
}

body {
    background-color: var(--Light-grayish-blue);
}

.background-purple {
    background-color: var(--Moderate-violet);
}

.background-dark-grey {
    background-color: var(--Very-dark-grayish-blue);
}

.background-blackish {
    background-color: #19202D;
}