:root {
    --font-style: "Barlow Semi Condensed", sans-serif;
    --spacing-24: 1.5em;

    /* ### Primary */

    --Moderate-violet: #7541c8;
    --Very-dark-grayish-blue: #48556a;
    --Very-dark-blackish-blue: #19212e;
    --White: #ffffff;

    /* ### Neutral */

    --Light-gray: #cfcfcf;
    --Light-grayish-blue: #ecf2f8;
}

.barlow-semi-condensed-semibold {
    font-family: var(--font-style);
    font-weight: 600;
    font-style: normal;
}

* {
    font-family: var(--font-style);
    font-weight: 500;
}

main {
    padding: 0 var(--spacing-24);
}

body {
    background-color: var(--Light-grayish-blue);
}

.background-purple {
    background-color: var(--Moderate-violet);
}

.background-dark-grey {
    background-color: var(--Very-dark-grayish-blue);
}

.background-blackish {
    background-color: #19202D;
}

.color-text-for-white {
    color: #48556A;
}

.color-white {
    color: var(--White);
}